In [1]:
import numpy as np
from data.fetchers.yahoo import download_multiple_tickers
from utils.calculations import n_day_high_in_last_k_days, rolling_window

In [4]:
tickers = ['AAPL', 'MSFT', 'GOOGL']
start_date = '2024-04-01'
end_date = '2024-07-31'
n = 6
k = 12

# Download historical data for the tickers
data = download_multiple_tickers(tickers, start_date, end_date)
data = data.loc[:,'Adj Close'] # Extract from multi-index dataframe
data.tail(8)

[*********************100%%**********************]  3 of 3 completed

Ticker            AAPL       GOOGL        MSFT
Date
2024-07-16  234.820007  183.919998  449.519989
2024-07-17  228.880005  181.020004  443.519989
2024-07-18  224.179993  177.690002  440.369995
2024-07-19  224.309998  177.660004  437.109985
2024-07-22  223.960007  181.669998  442.940002
2024-07-23  225.009995  181.789993  444.850006
2024-07-24  218.539993  172.630005  428.899994
2024-07-25  217.490005  167.279999  418.399994

In [3]:
n_day_high_in_last_k_days(data.values, n, k)

array([234.82000732, 191.17999268, 467.55999756])

In [ ]:

# Check how many tickers saw an N-day high in the past k days
for ticker in tickers:
    ticker_data = data['Close'][ticker]
    if len(ticker_data) >= n:
        result = n_day_high_in_last_k_days(ticker_data.values, n, k)
        count = result[-k:].sum()
        print(f"{ticker} saw an N-day high {count} times in the past {k} days.")
    else:
        print(f"{ticker} does not have enough data to calculate {n}-day highs.")

In [17]:
n_day_high_in_last_k_days(data.values, n, k)

ValueError: operands could not be broadcast together with shapes (3,) (8,)