In [1]:
import os
from yahoo import check_existing_data, update_data_file, list_available_data, download_historical_data

In [2]:
ticker = 'IBM'
start_date = '2023-01-01'
end_date = '2023-12-31'
file_format = 'csv'

In [3]:
download_historical_data(ticker, start_date, end_date, interval='1d', file_format='csv')

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-01-03,141.100006,141.899994,140.479996,141.550003,131.173401,3338600
2023-01-04,142.070007,143.619995,141.369995,142.600006,132.146439,3869200
2023-01-05,142.440002,142.500000,140.009995,141.110001,130.765656,2866600
2023-01-06,142.380005,144.250000,141.580002,143.699997,133.165802,3574000
2023-01-09,144.080002,145.470001,143.399994,143.550003,133.026779,3987700
...,...,...,...,...,...,...
2023-12-22,161.100006,162.410004,161.000000,162.139999,157.716400,2439800
2023-12-26,162.229996,163.309998,162.050003,163.210007,158.757217,1772400
2023-12-27,163.139999,163.639999,162.679993,163.460007,159.000397,3234600
2023-12-28,163.960007,163.960007,163.399994,163.750000,159.282471,2071300
2023-12-29,163.750000,164.179993,162.830002,163.550003,159.087936,2525600

In [4]:
# List available data
print("Available data files:")
available_files = list_available_data(ticker, file_format)
for file in available_files:
    print(file)

Available data files:

In [5]:
os.listdir('data_store')

['AAPL.csv', '._AAPL.csv']

In [6]:
[f for f in os.listdir('data_store') if f.startswith(f'AAPL') and f.endswith(f'.csv')]

['AAPL.csv']

In [ ]:

# Check existing data
print("\nChecking existing data:")
existing_data = check_existing_data(ticker, start_date, end_date, file_format=file_format)
if existing_data is not None:
    print(existing_data)
else:
    print("No existing data found for the specified range.")

# Update data file
print("\nUpdating data file:")
update_data_file(ticker, file_format=file_format)
print("Data file updated.")